# Ignore the start.sh which contains deployment password
dev/start.sh
test/start.sh
stage/start.sh

# Ignore the hubmap.db
dev/hubmap.db/
test/hubmap.db/
stage/hubmap.db/

# Keep the empty README.md to preserve the hubmap.db directory in github
!dev/hubmap.db/README.md
!test/hubmap.db/README.md
!stage/hubmap.db/README.md

