# Ignore the mounted data
localhost/data/*
dev/data/*
test/data/*
stage/data/*
prod/data/*

**/.DS_Store

# Keep the empty README.md to preserve the data directory in github
!localhost/data/README.md
!dev/data/README.md
!test/data/README.md
!stage/data/README.md
!prod/data/README.md

